@{
    ViewData["Title"] = "About Us - TheHangerCompany Hanger Company";
}
<h1>@ViewData["Title"]</h1>

<p>
    Founded in 2000, The Hanger Company has been at the forefront of offering innovative and sustainable solutions for clothing storage. From simple wooden hangers to modern, design-centric pieces, our product range has evolved,
    but our dedication to quality has remained unwavering.
</p>
<p>
    Our mission is to provide not just a hanger, but a premium experience for your wardrobe. Through rigorous quality checks and a focus on sustainability, we ensure that every hanger that
    comes out of our facility is not just functional, but a piece of art in its own right.
</p>

<h2>Our Values</h2>
<ul>
    <li><strong>Quality:</strong> Each hanger goes through rigorous checks to ensure durability and functionality.</li>
    <li><strong>Sustainability:</strong> We prioritize eco-friendly materials and processes to minimize our carbon footprint.</li>
    <li><strong>Innovation:</strong> Our team is always seeking ways to enhance design and efficiency in our products.</li>
    <li><strong>Customer First:</strong> Your satisfaction is our ultimate goal. We listen, adapt, and deliver.</li>
</ul>

<h5>Contact Us</h5>
<address>
    123 XYZ Lane<br>
    Windsor, CA N1A 2N1
</address>